


.right_image_pos {
    display: 'block';
    max-width: 473px;
    transform: rotate(6deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  };
  
  .left_image_pos {
    display: 'block';
    max-width: 473px;
    transform: rotate(6deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
  };

  .test{
    transform: rotate(30deg);
    border: 2px solid #000;
  }
  @media (min-width: 768px) {
    .menu_outlined {
      display:none;
    }
  }
  @media (max-width: 768px) {
    .menu_horizontal {
      display:none;
    }
  }
  @media (max-width: 768px) {

  .picture_horizontal{
    display: none;
  }
}
@media (min-width: 768px) {
    .picture_vertical {
      display:none;
    }
  }